[submodule "src/pollen-mode"]
	path = src/pollen-mode
	url = git@github.com:zainab-ali/pollen-mode.git
[submodule "src/nano-emacs"]
	path = src/nano-emacs
	url = git@github.com:zainab-ali/nano-emacs.git
[submodule "src/coe"]
	path = src/coe
	url = https://git.sr.ht/~zainab/coe
[submodule "src/fandango"]
	path = src/fandango
	url = https://git.sr.ht/~yilin/fandango
